
// .container {
  // width: 100%;
  // max-width: none !important;
  // min-width: 320px;
// }
.qxx-m-0 {
  margin: 0;
}
.qxx-p-0 {
  padding: 0;
}
.qxx-text-center {
  text-align: center;
}

// common
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-width: 300px;
}
a, a:active, a:focus, a:active {
  color: #007bff;
  text-decoration: none !important;
}