<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blmdz.home.dao.TalkReplySubscribeDao">
	<resultMap id="BaseResultMap" type="cn.blmdz.home.model.TalkReplySubscribe">
		<id column="id" property="id" />
        
        <result column="talk_id" property="talkId" />
        <result column="reply_id" property="replyId" />
        <result column="user_id" property="userId" />
        
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
	</resultMap>

	<sql id="cloums_all">
		id, <include refid="cloums" />
	</sql>

	<sql id="cloums">
		talk_id, reply_id, user_id, status, create_time, update_time
	</sql>

	<sql id="vals_all">
		#{id}, <include refid="vals" />
	</sql>

	<sql id="vals">
		#{talkId}, #{replyId}, #{userId}, true, now(), now()
	</sql>

	<sql id="tb">
		tb_talk_reply_subscribe
	</sql>

	<insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="cn.blmdz.home.model.TalkReplySubscribe">
		insert into
		<include refid="tb" />
		(<include refid="cloums" />)
		values
		(<include refid="vals" />)
	</insert>

	<delete id="delete" parameterType="long">
		delete from
		<include refid="tb" />
		where id = #{id}
	</delete>

    <delete id="tombstone" parameterType="long">
        update
        <include refid="tb" />
        <set>
            status = false
        </set>
        where id = #{id}
    </delete>

	<update id="update" parameterType="cn.blmdz.home.model.TalkReplySubscribe">
		update
	    <include refid="tb"/>
		<set>
          	update_time = now()
		</set>
		where id = #{id}
	</update>

	<select id="findById" parameterType="long" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
		where id = #{id}
	</select>

	<select id="list" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
	</select>

    <select id="page" resultMap="BaseResultMap">
        select
        <include refid="cloums_all" />
        from <include refid="tb" />
    </select>

    <select id="findBySelect" resultMap="BaseResultMap">
        select
        <include refid="cloums_all" />
        from <include refid="tb" />
        where status = true 
        and talk_id = #{talkId}
        and reply_id = #{replyId}
        and user_id = #{userId}
        order by id desc
        limit 1
    </select>
</mapper>
