<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blmdz.home.dao.UserFileDao">
	<resultMap id="BaseResultMap" type="cn.blmdz.home.model.UserFile">
		<id column="id" property="id" />
        
        <result column="user_id" property="userId" />
        <result column="file_type" property="fileType" />
        <result column="folder_id" property="folderId" />
        <result column="name" property="name" />
        <result column="path" property="path" />
        <result column="size" property="size" />
        <result column="md5" property="md5" />
        <result column="extra_json" property="extraJson" />
        
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
	</resultMap>

	<sql id="cloums_all">
		id, <include refid="cloums" />
	</sql>

	<sql id="cloums">
		user_id, file_type, folder_id, name, path, size, md5, extra_json, status, create_time, update_time
	</sql>

	<sql id="vals_all">
		#{id}, <include refid="vals" />
	</sql>

	<sql id="vals">
		#{userId}, #{fileType}, #{folderId}, #{name}, #{path}, #{size}, #{md5}, #{extraJson}, true, now(), now()
	</sql>

	<sql id="tb">
		tb_user_file
	</sql>

	<insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="cn.blmdz.home.model.UserFile">
		insert into
		<include refid="tb" />
		(<include refid="cloums" />)
		values
		(<include refid="vals" />)
	</insert>

	<delete id="delete" parameterType="long">
		delete from
		<include refid="tb" />
		where id = #{id}
	</delete>

    <delete id="tombstone" parameterType="long">
        update
        <include refid="tb" />
        <set>
            status = false
        </set>
        where id = #{id}
    </delete>

	<update id="update" parameterType="cn.blmdz.home.model.UserFile">
		update
	    <include refid="tb"/>
		<set>
			<if test="name != null">name = #{name},</if>
          	update_time = now()
		</set>
		where id = #{id}
	</update>

	<select id="findById" parameterType="long" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
		where id = #{id}
	</select>

	<select id="list" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
	</select>

	<select id="page" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
	</select>

    <select id="pageBySelect" resultMap="BaseResultMap">
        select
        <include refid="cloums_all" />
        from <include refid="tb" />
        <where>
            status = true
            and user_id = #{userId}
        </where>
        order by id desc
    </select>

    <select id="findByMD5" resultMap="BaseResultMap">
        select
        <include refid="cloums_all" />
        from <include refid="tb" />
        <where>
            status = true
            and md5 = #{md5}
        </where>
        limit 1
    </select>
    
    <select id="countByMD5" resultType="java.lang.Integer">
        select
        count(0)
        from <include refid="tb" />
        <where>
            status = true
            and md5 = #{md5}
        </where>
    </select>
</mapper>
