<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blmdz.home.dao.WeeklyDao">
	<resultMap id="BaseResultMap" type="cn.blmdz.home.model.Weekly">
		<id column="id" property="id" />
        
        <result column="category" property="category" />
        <result column="fsid" property="fsid" />
        <result column="name" property="name" />
        <result column="start" property="start" />
        <result column="end" property="end" />
        
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
	</resultMap>
    
	<sql id="cloums_all">
		id, <include refid="cloums" />
	</sql>

	<sql id="cloums">
		category, fsid, name, start, end, status, create_time, update_time
	</sql>

	<sql id="vals_all">
		#{id}, <include refid="vals" />
	</sql>

	<sql id="vals">
		#{category}, #{fsid}, #{name}, #{start}, #{end}, true, now(), now()
	</sql>

	<sql id="tb">
		tb_weekly
	</sql>

	<insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="cn.blmdz.home.model.Weekly">
		insert into
		<include refid="tb" />
		(<include refid="cloums" />)
		values
		(<include refid="vals" />)
	</insert>

	<delete id="delete" parameterType="long">
		delete from
		<include refid="tb" />
		where id = #{id}
	</delete>

    <delete id="tombstone" parameterType="long">
        update
        <include refid="tb" />
        <set>
            status = false
        </set>
        where id = #{id}
    </delete>

	<update id="update" parameterType="cn.blmdz.home.model.Weekly">
		update
	    <include refid="tb"/>
		<set>
			<if test="category != null">category = #{category},</if>
			<if test="name != null">name = #{name},</if>
			<if test="start != null">start = #{start},</if>
			<if test="end != null">end = #{end},</if>
          	update_time = now()
		</set>
		where id = #{id}
	</update>

	<select id="findById" parameterType="long" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
		where id = #{id}
	</select>

	<select id="list" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
	</select>

	<select id="page" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
	</select>

    <select id="findByType" resultMap="BaseResultMap">
        select
        <include refid="cloums_all" />
        from <include refid="tb" />
        where status = true
        and category = #{category}
    </select>

    <select id="findByFsid" resultMap="BaseResultMap">
        select
        <include refid="cloums_all" />
        from <include refid="tb" />
        where status = true
        and fsid = #{fsid}
    </select>
    
</mapper>
